/* line 1, rekrutacja/static/rekrutacja/style.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, rekrutacja/static/rekrutacja/style.scss */
body {
  background-color: #F6F7EB; }
  /* line 8, rekrutacja/static/rekrutacja/style.scss */
  body a {
    text-decoration: none; }
  /* line 11, rekrutacja/static/rekrutacja/style.scss */
  body button {
    border: none;
    background-color: #3F88C5;
    padding: 0.5em 1em;
    color: #F6F7EB; }
    /* line 16, rekrutacja/static/rekrutacja/style.scss */
    body button a {
      color: #F6F7EB; }
  /* line 20, rekrutacja/static/rekrutacja/style.scss */
  body header {
    border: solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
    margin-bottom: 2em;
    padding: 2em;
    padding-bottom: 1em; }
    /* line 30, rekrutacja/static/rekrutacja/style.scss */
    body header h1 a {
      border: solid red;
      color: #393E41;
      font-size: larger; }
    /* line 35, rekrutacja/static/rekrutacja/style.scss */
    body header .user-panel {
      display: flex;
      align-items: center;
      gap: 3em;
      font-size: 1.2em; }
