/* line 1, rekrutacja/static/rekrutacja/style.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, rekrutacja/static/rekrutacja/style.scss */
body {
  background-color: #F6F7EB; }
  /* line 8, rekrutacja/static/rekrutacja/style.scss */
  body header {
    display: flex; }
    /* line 10, rekrutacja/static/rekrutacja/style.scss */
    body header h1 a {
      color: #393E41;
      text-decoration: none; }
