{% extends 'recruitment/base.html' %}

{% block title %}Profil Pracownika{% endblock %}

{% block content %}
    <h1>Profil Pracownika</h1>
    <p><strong>Login:</strong> {{ profile.user.username }}</p>
    <p><strong>Imię:</strong> {{ profile.first_name }}</p>
    <p><strong>Nazwisko:</strong> {{ profile.last_name }}</p>
    <p><strong>Uczelnia:</strong> {{ profile.university }}</p>
    <p><strong>Numer służbowy:</strong> {{ profile.work_id}}</p>

    <br>
    <form action="{% url 'profile_edit' %}" method="GET">
        <input class="button" type="submit" value="Edytuj profil">
    </form><br>

    <form action="{% url 'delete_account' %}" method="GET">
        <input class="button" type="submit" value="Usuń profil"/>
    </form>
{% endblock %}
