{% extends 'recruitment/base.html' %}

{% block content %}
    <h1>FAQ</h1>
    <dl>
        <dt>Lorem Ipsum #1?</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique lectus et lectus posuere, in vestibulum lacus rutrum.</dd>

        <dt>Lorem Ipsum #2?</dt>
        <dd>Ut eget sapien nisl. Proin volutpat vulputate facilisis. Curabitur pharetra tellus eget bibendum condimentum.</dd>

        <dt>Lorem Ipsum #3?</dt>
        <dd>Sed mattis urna id dui bibendum tincidunt. Sed pellentesque justo id leo vestibulum tristique.</dd>

        <dt>Lorem Ipsum #4?</dt>
        <dd>Quisque viverra mauris vitae lorem tincidunt, et laoreet leo consequat. Mauris euismod justo ac velit tincidunt suscipit.</dd>

        <dt>Lorem Ipsum #5?</dt>
        <dd>Integer vitae justo a elit semper pharetra. Suspendisse aliquam, dolor ut tempus commodo, tortor odio gravida neque.</dd>
    </dl>
{% endblock %}
