{% extends 'recruitment/base.html' %}

{% block title %}Strona Główna{% endblock %}

{% block content %}
    <h2>Witaj na stronie głównej </h2>
    {% if not user.is_authenticated %}
        <p>Jeśli jesteś nowym użytkownikiem, zapraszamy do rejestracji:
        <button><a href="/register/">Zarejestruj się</a></button></p>
    {% endif %}
    <hr>

    <h3>Wyszukiwarka kierunków studiów:</h3>
    <form action="/search/" method="GET">
        <label for="search-input">Wyszukaj kierunek:</label>
        <input type="text" id="search-input" name="query" placeholder="Wprowadź nazwę kierunku...">
        <button type="submit">Szukaj</button>
    </form>



{% endblock %}
